@page
@model LanguageClient.Pages.Login.ConfirmMailSuccessModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmed Successfully</title>
    <!-- ==============FRAMEWORK, LIBRARY================ -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- ==============STYLE================ -->
    <link rel="stylesheet" href="~/style/style_for_pages/style.css">
    <link rel="stylesheet" href="~/style/style_for_pages/setup.css">
    <link rel="stylesheet" href="~/style/style_for_pages/reset.css">
    <link rel="stylesheet" href="~/style/style_for_pages/comfriim.css">
    <link rel="shortcut icon" href="~/assets/images/logo/logo.png" type="image/x-icon">
</head>

<body>
    <div class="container animate-bg center_reset">
        <!-- ==============BUTTON TO DASHBOARD================ -->
        <!-- ==============FORM RESET================ -->
        <section class="form_reset">
            <div class="screen">
                <div class="screen__content">
                    <a href="/Login/Login">
                    <img src="~/assets/images/logo/logo_cochu.png" alt="logo image" class="logo_image">
                    </a>
                    <form class="reset" method="post">
                        <h3 class="reset__title">CONFIRMED SUCCESSFULLY!</h3>
                        <p class="subtitle_reset">You have successfully authenticated your Email! Click the continue button to access the system.</p>
                        <a href="/Login/Login" class="reset__submit">
                            <span class="button__text">CONTINUE</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </a>
                    </form>

                </div>
            </div>
        </section>
      
        <!-- ==============BACKGROUND ANIMATED================ -->
        <section class="bg_animate">
        <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
        </section>
        </div>
      
        <!-- ==============FRAMEWORK, LIBRARY================ -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- ==============SCRIPT================ -->
        <script src="~/js/javascript/script.js"></script>
        <script src="~/js/javascript/scrollreveal.js"></script>


</body>

</html>