@page
@model LanguageClient.Pages.Admin.ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
}

<head>

    <link rel="stylesheet" href="~/style/style_for_pages/changepassword.css">
    <script src="~/js/javascript/jsAll/ChangePassword.js"></script>
</head>



<div class="main-panel">
    <div class="content-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <section>
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-12 mb-4 mb-lg-0">
                                <div class="col-lg-6 card mb-3 contain_change_password">
                                    <div class="row g-0">
                                        <form class="row-ele" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="col-md-10">
                                                <div class="card-body padding_change_password">
                                                    <h3 class="title_change_password">CHANGE PASSWORD</h3>
                                                    <hr class="mt-0 mb-4">
                                                    <div class="row d-flex justify-content-center align-items-center">
                                                        <div class="form-group col-12 mb-3">
                                                            <div class="password-container">
                                                                <input asp-for="CurrentPassword"
                                                                       class="form-control input_change_password" type="password" id="password" placeholder="Current Password">
                                                                <i class="password-toggle far fa-eye-slash eye_hide"
                                                                   onclick="togglePasswordVisibility()"></i>
                                                                <span asp-validation-for="CurrentPassword"
                                                                      class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 mb-3">
                                                            <div class="password-container">
                                                                <input asp-for="NewPassword"
                                                                       class="form-control input_change_password" type="password" id="password2" placeholder="New Password">
                                                                <i class="password-toggle2 far fa-eye-slash eye_hide"
                                                                   onclick="togglePasswordVisibility2()"></i>
                                                                <span asp-validation-for="NewPassword"
                                                                      class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 mb-3">
                                                            <div class="password-container">
                                                                <input asp-for="ConfirmPassword"
                                                                       class="form-control input_change_password" type="password" id="password3" placeholder="Confirm Password">
                                                                <i class="password-toggle3 far fa-eye-slash eye_hide"
                                                                   onclick="togglePasswordVisibility3()"></i>
                                                                <span asp-validation-for="ConfirmPassword"
                                                                      class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="text-align: center;">
                                                        <input type="submit" value="Change Password" class="btn btn-primary btn_change_password" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
        @if (TempData["Success"] != null)
        {
            <script>
                swal.fire({
                    title: "Success!",
                    text: "Successful change password !! Please login again",
                    icon: "success",
                }).then(() => {
                    window.location.href = "../Login/Login";
                });
            </script>
        }

        @if (TempData["Fail"] != null)
        {
            <script>
                swal.fire({
                    title: "Warning!",
                    text: "The system overload !! Please try again.",
                    icon: "warning",
                }).then(() => {
                    window.location.href = "./ChangePassword";
                });
            </script>
        }
        @if (TempData["BB"] != null)
        {
            <script>
                swal.fire({
                    title: "Warning!",
                    text: "Current password is incorrect !! Please double check and try again.",
                    icon: "warning",
                }).then(() => {
                    window.location.href = "./ChangePassword";
                });
            </script>
        }




        
