/* ==============SETTING================  */
@font-face {
    font-family: "Inter-Regular";
    src: url("~/assets/fonts/Inter-Regular.ttf") format("ttf");
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    text-align: center;
    font-family: sans-serif, "Inter-Regular";
}
/* ==============SCREEN================  */
.screen {
    z-index: 1;
    background: #ffffff;
    position: relative;
    height: 660px;
    width: 1200px;
}

.form__login {
    z-index: 1;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
}
/* ==============BACKGROUND__LOGIN================  */
.background__login {
    float: left;
    width: 700px;
    height: 660px;
    background-image: url("https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/434353073_1607588023320858_1881105137111601864_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0Jz3Kh6-0jQAX8juVwQ&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfDhEJoMPDWfm85HdCPQIaXizq4ldVryRf1URmBfQuupcw&oe=6605AD52");
    background-size: cover;
    background-position: center;
}

.logo_image {
    z-index: 3;
    position: absolute;
    width: 190px;
    left: 15px;
    top: 15px;
}

.border__login {
    margin-top: 220px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double #ffffff;
    border-width: 4px 0;
    padding: 1em 0em;
    width: 40em;
}

.desc__login {
    color: #ffffff;
}

.title__login {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.2em 0 0.2em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px #ffffff;
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.description_login {
    color: #ffffff;
    width: 400px;
    margin-top: 30px;
    display: inline-block;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
/* ==============FORM__LOGIN================  */
.screen__content {
    z-index: 2;
    position: relative;
    height: 100%;
}

.login {
    position: relative;
    float: right;
    width: 380px;
    padding: 1.5rem;
    padding-top: 160px;
    margin-right: 58px;
}

.login__title {
    background-image: linear-gradient(90deg, #5b7dc2, #193978);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 40px;
    user-select: none;
}

.login__field {
    z-index: 2;
    padding: 12px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login__icon,
.pass__icon {
    position: absolute;
    left: 20px;
    font-size: 15px;
    color: #193978;
    transition: 0.1s;
}

.hide__icon {
    position: absolute;
    top: 33px;
    font-size: 16px;
    right: 25px;
    color: #193978;
    transition: 0.1s;
}

.login__input,
.login__pass {
    border-radius: 30px;
    border: 0px;
    background: #ededed;
    display: block;
    width: 332px;
    color: #193978;
    font-size: 14px;
    height: 55px;
    padding-left: 50px;
    padding-right: 20px;
    font-weight: 700;
    transition: 0.2s;
}

    .login__input:active,
    .login__input:focus,
    .login__pass:active,
    .login__pass:focus {
        outline: none;
        background: #193978;
        color: #ffffff;
    }

        .login__input:focus::-webkit-input-placeholder,
        .login__pass:focus::-webkit-input-placeholder {
            color: #ffffff;
        }

.login__submit {
    position: relative;
    background: linear-gradient(90deg, #476fc0, #193978);
    font-size: 14px;
    margin-top: 10px;
    padding: 15px 40px 15px 20px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    color: #ffffff;
}

.button__icon {
    position: absolute;
    right: 19px;
    top: 16px;
    font-size: 14px;
    color: #ffffff;
    transition: 0.3s;
}

.login__submit:hover .button__icon {
    right: 15px;
}

.social__login {
    margin-top: 40px;
}

.or__login {
    color: #b1b1b1;
    font-size: 12px;
    user-select: none;
}

.social__button_contain {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social__button {
    display: flex;
    border-radius: 30px;
    border: 2px #ececec solid;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    transition: 0.2s;
}

    .social__button p:focus {
        text-decoration: none;
    }

    .social__button p:hover {
        text-decoration: none;
    }

    .social__button img {
        width: 20px;
        height: 20px;
    }

    .social__button p {
        font-size: 15px;
        margin: 2px 0 0 10px;
        font-weight: 600;
    }

    .social__button:focus,
    .social__button:hover {
        color: r;
        text-decoration: none;
    }

    .social__button:focus {
        border: 2px solid #193978;
    }

.google__login {
    color: #508ff9;
}

.phone__login {
    color: #36c837;
}

.forgot__password {
    color: #193978;
}

.google__login:hover {
    text-decoration: none;
    border: 2px #508ff9 solid;
    color: #508ff9;
}

.phone__login:hover {
    text-decoration: none;
    border: 2px #36c837 solid;
    color: #36c837;
}
/* ==============BACKROUND ANIMATED================  */
.bg__animate {
    z-index: 0;
}

.center_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    margin-top: 100px;
}

.circles {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .circles li {
        z-index: 0;
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: #fffefe4d;
        animation: animate 25s linear infinite;
        bottom: -150px;
    }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }

        .circles li:nth-child(11) {
            left: 12%;
            width: 5px;
            height: 5px;
            animation-delay: 0s;
            animation-duration: 8s;
        }

        .circles li:nth-child(12) {
            left: 28%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
            animation-duration: 5s;
        }

        .circles li:nth-child(13) {
            left: 80%;
            width: 12px;
            height: 12px;
            animation-delay: 0s;
            animation-duration: 6s;
        }

        .circles li:nth-child(14) {
            left: 60%;
            width: 35px;
            height: 35px;
            animation-delay: 3s;
            animation-duration: 9s;
        }

        .circles li:nth-child(15) {
            left: 54%;
            width: 120px;
            height: 120px;
            animation-delay: 4s;
            animation-duration: 11s;
        }

        .circles li:nth-child(16) {
            left: 15%;
            width: 300px;
            height: 300px;
            animation-delay: 0s;
            animation-duration: 15s;
        }

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 20%;
    }

    100% {
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 70%;
    }
}

.bg_animate {
    z-index: -1;
}
/* ==============BUTTON TO DASHBOARD================  */
.dashboard {
    z-index: 5;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    left: 50px;
    top: 50px;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
    .background__login {
        width: 600px;
        height: 600px;
    }

    .screen {
        height: 600px;
        width: 1020px;
    }

    .login {
        width: 330px;
        margin-right: 45px;
    }
}

@media screen and (max-width: 992px) {
    .background__login {
        width: 530px;
        height: 600px;
    }

    .screen {
        height: 600px;
        width: 900px;
    }

    .login {
        width: 290px;
        margin-right: 40px;
        padding-top: 100px;
    }

    .border__login {
        margin-top: 200px;
        width: 35em;
    }

    .title__login {
        font: 700 3em / 1 "Oswald", sans-serif;
    }

    .desc__login {
        font: 700 0.8em / 1 "Oswald", sans-serif;
    }
}

@media screen and (max-width: 768px) {
    .background__login {
        display: none;
    }

    .screen {
        height: 600px;
        width: 350px;
    }

    .login {
        float: none;
        width: 290px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
}
